*.pper
.Rproj.user/957A7E95/rmd-outputs
.Rproj.user/957A7E95/saved_source_markers
.Rproj.user/957A7E95/sources/per/t/A61E5F8A
.Rproj.user/957A7E95/sources/per/t/A61E5F8A-contents
.Rproj.user/957A7E95/sources/per/t/E89DAAB6
.Rproj.user/957A7E95/sources/per/t/E89DAAB6-contents
.Rproj.user/957A7E95/sources/prop/EA93F080
.Rproj.user/957A7E95/sources/prop/INDEX
.Rproj.user/957A7E95/viewer-cache/C081F92F.Rdata
.Rproj.user/shared/notebooks/patch-chunk-names
.Rhistory
.Rproj.user
.Rhistory
.Rhistory
